.col-6 img {
  width: 100%;
}
.row {
  align-items: center;
}
.col {
  text-align: center;
}
.card {
  height: 28em;
  justify-content: space-between;
  align-items: center;
  padding-block: 1em;
  margin-inline: 1em;
}
.card img {
  width: 10em;
  margin-block: auto;
}
#CardRow {
  margin-inline: auto;
}
.title {
  overflow: hidden;
  text-emphasis: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
/* .card-title {
  margin-top: auto;
} */
